test/
*.test
config.toml
bin/
challenges/*
!challenges/.gitkeep
tmp/*
!tmp/.gitkeep
katana
test.go
*.log
.terraform.lock.hcl
.terraform/
terraform.tfstate
terraform.tfstate.backup
.vscode/
tfinstall/
.terraform.tfstate.lock.info
kubeconfig