test/
*.test
config.toml
bin/
challenges/*
!challenges/.gitkeep
tmp/*
!tmp/.gitkeep
katana
test.go
vendor/*
*.log
docs/themes/*
!docs/content/Katana
teams/*
teamcreds.txt
lib/harbor/certs/*
peer_configs/*
work.txt
.DS_Store
katana-services/*